Repository Team-CMD/NowKick, pull requests merged in 2022-12, with the labels that each got.

#10 [Fix] 서버 애플리케이션 실행 시 db 연결 에러 등 2개
  db/db_helper.js
  main.js
Labels: Back-End : Fix, Category : DB

#12 [Feature] 경기 참가자 정보 템플릿
  public/js/ejs.min.js
  view/example.html
  view/example.js
  view/match_user_info.ejs
Labels: Front-End : Feature, Category : HTML

#15 기능 : 유저 정보 페이지의 원형 구현과 관련 html, css 파일 추가
  public/css/user_info.css
  view/user_info.html
Labels: Front-End : Feature, Category : Style, Category : HTML

#19 [Chore, Feature] view template 관련 설정, 유저 프로필 사진 주소 공유를 위한 모듈
  lib/user_profile.js
  main.js
Labels: Back-End : Feature
